{% extends 'base.html.twig' %}

{% block title %}Liste des Slides{% endblock %}

{% block body %}
	
	<header class="masthead">
		<div class="container h-100">
		   <h2>Vos diaporamas</h2>
		   
			{% for slide in ListSlides %}
				<li><a href="/slide/viewer/{{ slide.id }}">{{ slide.title }}</a></li>
			{% endfor %}
		</div>
	</header>

{% endblock %}
