@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

    ul li {
        list-style: none;
        margin: 0 0 40px;
    }

img {
    object-fit: cover;
}

ul li .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 3s;
    opacity: 0;
    /*     transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left; */
}

ul li input[type="radio"] {
    position: relative;
    z-index: 10;
    height: 20px;
    width: 20px;
    border-radius: 0;
}

ul li .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


ul li input[type="radio"]:checked ~ .slide {
    opacity: 1;
    transition: opacity 3s;
}


ul li .slide .content {
    bottom: 0;
    position: absolute;
    left: -1000%;
    background: rgba(255,255,255,0.9);
    padding: 40px;
    transition: left .5s;
    max-width: 25%;
    min-width: 350px;
    height: 100%;
}



ul li input[type="radio"]:checked ~ .slide .content {
    left: 0;
    bottom: 0;
}

ul li .slide .content h2 {
    margin: 0;
    padding: 0;
    font-size: 42px;
}

ul li .slide .content p {
    font-size: 18px;
}


ul li:nth-child(even) input[type="radio"]:checked ~ .slide img {
    transform-origin: top left;
}

ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 40s linear infinite;
    transform-origin: bottom right;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }



    100% {
        transform: scale(1);
    }
}


@media screen and (max-width:850px) {





    .slide {
        height: 100%;
    }




    ul li .slide img {
        display: block;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    ul li .slide .content {
        max-width: 100%;
        background: #fff;
        overflowY: scroll;
    }

    ul li input[type="radio"]:checked ~ .slide .content {
        left: 0;
        bottom: -50%;
    }

    ul {
        align-items: center;
    }
}
