{% extends 'base.html.twig' %}

{% block title %}Visionneuse Slide{% endblock %}

{% block body %}
	<style>
		{% set images = slide.getImages() %}
		{% set isActive = false %}

		{% for image in images %}
			{% set scaleXStart = 1920 / image.widthStart %}
			{% set scaleYStart = 1080 / image.heightStart %}
			{% set translateXStart = 0 - image.xStart %}
			{% set translateYStart = 0 - image.yStart %}
			{% set scaleXEnd = 1920 / image.widthEnd %}
			{% set scaleYEnd = 1080 / image.heightEnd %}
			{% set translateXEnd = 0 - image.xEnd %}
			{% set translateYEnd = 0 - image.yEnd %}
		
			#image{{ image.id }} {
				animation: ken{{ image.id }} {{ image.durationEffect }}s infinite;
				width: 450px;
			}

			@keyframes ken{{ image.id }} {
				0% {
					transform: translate3d({{ translateXStart }}px, {{ translateYStart }}px, 0px) scale3d({{ scaleXStart }}, {{ scaleYStart }}, 1.0);	
				}
				100% {
					transform: translate3d({{ translateXEnd }}px, {{ translateYEnd }}px, 0px) scale3d({{ scaleXEnd }}, {{ scaleYEnd }}, 1.0);
				}
			}
			
			#imageContainer {
				animation: ken{{ image.id }} {{ image.durationEffect }}s infinite;
				width: 450px;
				height: 300px;
				overflow: hidden;
				border: 2px #333 solid;
			}
		{% endfor %}
	</style>
	
	<header class="masthead">
		<div class="container h-100">	
			<div id="carouselImages" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{% for image in images %}
					{% if isActive == false %}
						<div class="carousel-item active">
						{% set isActive = true %}
					{% else %}
						<div class="carousel-item">
					{% endif %}
						<img id="image{{ image.id }}" class="d-block w-100" src="{{ asset('images/'~image.url) }}" alt="{{ image.title }}">
					</div>
					{% endfor %}			
				</div>
				<a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			
			{% for image in images %}
				<div id="imageContainer">
					<img  src="{{ asset('images/'~image.url) }}" alt="{{ image.title }}">
				</div>
			{% endfor %}
		</div>
	</header>

{% endblock %}
