{% extends 'base.html.twig' %}

{% block title %}Générateur slideshow{% endblock %}

{% block body %}

	<header class="masthead">
		<div class="container h-100">
			<h2>Configuration du diaporama</h2>
			
			<div class="image-preview" id="image-preview">
				<img id="target" class="image-preview__image" src="" alt="Image Preview">
				<span class="image-preview__default-text">Image preview</span>
			</div>
			
			<p>Rouge : cadre de départ | Vert : cadre de fin</p>
			
			{{ form_start(form) }}
				{{ form_errors(form) }}
				
				{{ form_row(form.slide) }}
				{{ form_row(form.title, { 'label': 'Titre' }) }}
				{{ form_row(form.url) }}
				{{ form_row(form.durationEffect, { 'label': 'Durée de l\'effet' }) }}
				{{ form_row(form.xStart) }}
				{{ form_row(form.yStart) }}
				{{ form_row(form.widthStart) }}
				{{ form_row(form.heightStart) }}
				{{ form_row(form.xEnd) }}
				{{ form_row(form.yEnd) }}
				{{ form_row(form.widthEnd) }}
				{{ form_row(form.heightEnd) }}
				
				{{ form_row(form.save, { 'label': 'Valider' }) }}
			{{ form_end(form) }}
		</div>
	</header>
	
	<script>
		const image_url = document.getElementById("image_url");
		const previewContainer = document.getElementById("image-preview");
		const previewImage = previewContainer.querySelector(".image-preview__image");
		const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
		const xStart = document.getElementById("image_xStart");
		const yStart = document.getElementById("image_yStart");
		const widthStart = document.getElementById("image_widthStart");
		const heightStart = document.getElementById("image_heightStart");
		const xEnd = document.getElementById("image_xEnd");
		const yEnd = document.getElementById("image_yEnd");
		const widthEnd = document.getElementById("image_widthEnd");
		const heightEnd = document.getElementById("image_heightEnd");
		var isFileUploaded = false;
		var rect1 = Jcrop.Rect.create(200,200,100,100);
		var rect2 = Jcrop.Rect.create(300,300,100,100);
		
		image_url.addEventListener("change", function() {
			const file = this.files[0];
			
			if (file) {
				isFileUploaded = true;
			
				const reader = new FileReader();
				
				previewDefaultText.style.display = "none";
				previewImage.style.display = "block";
				
				reader.addEventListener("load", function() {
					previewImage.setAttribute("src", this.result);
				});
				
				reader.readAsDataURL(file);
				
				const jcrop = Jcrop.attach('target');
				const options = {};
				jcrop.newWidget(rect1,options);
				jcrop.newWidget(rect2,options);
				const rectStart = document.getElementsByClassName("jcrop-widget");
				rectStart[0].id = "rectStart";
				rectStart[1].id = "rectEnd";
				
				jcrop.listen('crop.update',function(widget,e){
					const pos = widget.pos;
					
					var jcropActive = document.getElementsByClassName("jcrop-widget active");
					if (jcropActive[0].id == "rectStart") {
						xStart.value = pos.x;
						yStart.value = pos.y;
						widthStart.value = pos.w;
						heightStart.value = pos.h;
					} else {
						xEnd.value = pos.x;
						yEnd.value = pos.y;
						widthEnd.value = pos.w;
						heightEnd.value = pos.h;
					}
				});
			} else {
				previewDefaultText.style.display = null;
				previewImage.style.display = null;
				previewImage.setAttribute("src", ""); 
			}
		});		
	</script>

{% endblock %}
