{% extends 'base.html.twig' %}

{% block title %}Générateur slideshow{% endblock %}

{% block body %}

	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-10 align-self-end">
					<h1 class="text-uppercase text-white font-weight-bold">Générateur de diaporama personnalisé </h1>
					<hr class="divider my-4" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 font-weight-light mb-5">Avec Slideshow Generator vous pouvez facilement créer vos diaporamas personnalisés ! Vous pouvez importer vos images, choisir le temps de défilement et plein d'autres fonctionnalitées !</p>
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="/slide/generator/new">Commencer à créer</a>
				</div>
			</div>
		</div>
	</header>

{% endblock %}
