{% extends 'base.html.twig' %}

{% block title %}Générateur de Slide{% endblock %}

{% block body %}
	
	<header class="masthead">
		<div class="container h-100">
			<h2>Veuillez saisir un titre pour votre diaporama</h2>
			{{ form_start(form) }}
				{{ form_errors(form) }}
				
				{{ form_row(form.title, { 'label': 'Titre' }) }}
				
				{{ form_row(form.save, { 'label': 'Valider' }) }}
			{{ form_end(form) }}
		</div>
	</header>

{% endblock %}
