<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="{{ asset('js/all.js') }}" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="{{ asset('css/fonts1.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/fonts2.css') }}" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="{{ asset('css/magnific-popup.min.css') }}" rel="stylesheet" />
		<!-- jCrop -->
		<link rel="stylesheet" href="{{ asset('css/jcrop.css') }}"/>
		<script src="{{ asset('js/jcrop.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>	
		<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger">Slideshow Generator</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/slide/generator/index">Créer</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/list/slides">Visualiser</a></li>
                    </ul>
                </div>
            </div>
        </nav>
		
		{% block body %}{% endblock %}
		
		<script src="{{ asset('js/jquery-3.5.0.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script>
			$('.carouselImages').carousel({
				interval: false,
				ride: false
			})
		</script>	

        {% block javascripts %}{% endblock %}
    </body>
</html>
